$textColorWhite: #DCD3C3;
/* $textColorGolden: #a38d6d; */
$textColorGolden: #c7ab81;
$textColor: $textColorGolden;
$linkColor: $textColorWhite;
$mainBg: #0F0F0F;
$mainBorder: #302E2E;
$buttonBorder: #1a1a1a;
$buttonBg: #333333;
$buttonText: #ffffff;
$red: #c53b12;
$blue: #02a6f2;


* {
    box-sizing: border-box;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;

    &-track {
        background: #f1f1f1; 
    }

    &-thumb {
        background: #888; 

        &:hover {
            background: #555; 
        }
    }
}

html,
body,
#react-root {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-width: 800px;
    min-height: 600px;
    color: $textColor;
    user-select: none;
    cursor: default;
    font-family: 'Roboto', sans-serif;
}

a {
    color: $linkColor;
    text-decoration: none;
}

button {
    padding: 4px 8px;
    border: 2px solid $buttonBorder;
    border: 2px solid #989999;
    border-radius: 4px;
    color: $buttonText;
    background-color: transparent;
    cursor: pointer;

    &[disabled] {
        color: #989999;
        cursor: default;
    }

    &:focus {
        outline: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    /* background-color: $mainBg; */
    /* box-shadow: 0 2px 4px 2px rgba($mainBg, 0.88); */
    z-index: 1;

    &-container {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-image: url('../assets/main-bg.jpg');
        background-size: cover;
        background-color: $mainBg;
        overflow: hidden;

        /* &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($mainBg, 0.80);
        } */
    }
}

.startup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 40px;
        font-weight: 700;
    }
}

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 400px;
        padding: 40px;
        background-color: $mainBg;
    }

    &__loader {
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        &-title {
            margin-top: -10px;
            text-align: center;
        }

        &-input {
            margin-top: 20px;
        }

        &-button {
            margin-top: 20px;
        }
    }
}

.create-report {
    position: relative;

    &__loader {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($mainBg, 0.8);
    }
}

.layout {
    display: grid;
    grid-template-rows: 68px calc(100% - 68px);
    height: 100%;
    max-height: 100%;

    &__content {
        display: grid;
        grid-template-columns: 360px auto;
        grid-template-rows: 100%;
        grid-column-gap: 20px;
        padding: 10px 0;
    }

    &__column {
        padding: 10px;
        overflow: auto;
        background-color: rgba($mainBg, 0.8);
    }
}

.header {
    display: flex;
    height: 68px;
    justify-content: space-between;
    background-color: $mainBg;

    &__account {
        display: flex;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
        }

        &-avatar {
            max-height: 66px;
        }

        &-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 26px;
        }

        &-logout {
            font-size: 12px;
            cursor: pointer;
        }
    }

    &__menu {
        display: flex;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 10px;
            transition: box-shadow 0.2s;
            cursor: pointer;

            &_active,
            &:hover {
                box-shadow: inset 0px -4px 0 0px #a52727;
            }
        }
    }
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.reports {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__title {

    }

    &__list {
        flex: 1;
        overflow-y: auto;
    }

    &__item {
        padding: 10px;
        border-radius: 4px;
        background-color: $mainBg;
        border: 1px solid $mainBorder;

        & + & {
            margin-top: 10px;
        }
    }
}

.league-list {
    &__item {
        display: flex;
        align-items: center;
        padding: 4px 8px;
        border-left: 3px solid white;

        &_hc {
            border-left-color: #FE0000;
        }

        &_sc {
            border-left-color: #00C8FE;
        }

        & + & {
            margin-top: 10px;
        }
    }

    &__clear-league {
        width: 20px;
        height: 20px;
        padding: 0;
        font-size: 10px;
        margin-left: 4px;
        border: none;
        border-radius: 0;
        background-color: #333333;
    }
}

.checkouts {
    &__container {
    }
    
    &__list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
    }

    &__list-item {
        flex: 0 0 auto;
        background-color: $mainBg;
        border: 2px solid $mainBg;
        z-index: 1;

        &_active {
            border-color: $red;
        }
    }

    &__list-item-separator {
        flex: 0 0 auto;
        height: 2px;
        width: 40px;
        background-color: $red;
    }
} 

.report {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.report-items {
    flex: 1;
    overflow-y: auto;
}

.delete-button {
    width: 100px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.2s;

    &__wrapper {
        position: relative;
        height: 30px;
        white-space: nowrap;
    }

    &__text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: left 0.15s;
    }
}
