:root {
    --textColorWhite: #fff8e1;
    --textColorGolden: #d8b47f;
    --textColor: var(--textColorGolden);
    --linkColor: var(--textColorWhite);
    --mainBg: #0f0f0f;
    --mainBgRgb: 15,15,15;
    --mainBorder: #302E2E;
    --buttonBorder: #1a1a1a;
    --buttonBg: #333333;
    --buttonText: #ffffff;
    --red: #c53b12;
    --blue: #0cabe5;
    /* --primary: var(--red); */
    --primary: #C78626;
    --secondary: var(--blue);
    --aaa: #F29766;
    --bbb: #C78626;
    --ccc: #5DB0D7;
    --ddd: #DC739C;
    --eee: #00A6C2;
    /* --primary: var(--blue); */
    /* --secondary: var(--red); */
}

@font-face {
    font-family: "marspolice";
    src: url("../assets/marspolice.ttf") format("truetype")
}

* {
    box-sizing: border-box;
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    &-track {
        background: #222222;
    }
    
    &-thumb {
        /* background: #DCD3C3; */
        background: #333333;
        border: 1px solid #5C5C5C;

        &:hover {
            /* background: #888888; */
        }
    }
}

html,
body,
#react-root {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-width: 800px;
    min-height: 600px;
    color: var(--textColor);
    background-color: var(--mainBg);
    font-family: 'Roboto', sans-serif;
    cursor: default;
    user-select: none;
}

a {
    color: var(--linkColor);
    text-decoration: none;
}

.pseudo-link {
    color: var(--linkColor);
}

hr {
    width: 100%;
}

h1,
h3,
h2 {
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

button {
    padding: 8px 16px;
    border: none;
    color: #fff;
    background-color: #2364AA;
    cursor: pointer;

    &[disabled] {
        background-color: #B6A999;
        color: #353535;
        cursor: default;
        /* cursor: not-allowed; */
    }

    &:hover:not([disabled]) {
        background-color: #2a75c5;
    }

    &:focus {
        outline: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    z-index: 1;

    &-container {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-image: url('../assets/main-bg.jpg');
        background-size: cover;
        background-color: var(--mainBg);
        overflow: hidden;
    }
}

.startup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        font-size: 54px;
    }

    &__title {
        margin: 20px 0px;
        font-size: 40px;
        font-weight: 700;
    }
}

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 430px;
        padding: 40px;
        background-color: rgba(var(--mainBgRgb), 0.8);
    }

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 54px;
    }

    &__loader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-text {
            margin-bottom: 20px;
            font-size: 26px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        &-error {
            margin-top: 10px;
            color: var(--red);
        }

        &-input {
            font-size: 20px;
            padding: 8px 0;
            color: var(--textColorWhite);
            background-color: transparent;
            border: none;
            border-bottom: 2px solid var(--textColorWhite);
            outline: none;
        }

        &-button {
            margin-top: 20px;
            font-size: 20px;
            padding: 8px;
        }
    }
}

.layout {
    position: relative;
    display: grid;
    grid-template-rows: 68px calc(100% - 68px);
    height: 100%;
    max-height: 100%;

    &__content {
        display: grid;
        grid-template-columns: 360px auto;
        grid-template-rows: 100%;
        grid-column-gap: 20px;
        padding: 10px 0;
    }

    &__column {
        padding: 10px;
        overflow: auto;
        background-color: rgba(var(--mainBgRgb), 0.8);
    }

    &__loader {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(var(--mainBgRgb), 0.8);
        z-index: 1;

        &-text {
            margin-bottom: 20px;
        }
    }
}

.header {
    position: relative;
    display: flex;
    height: 68px;
    justify-content: space-between;
    background-color: var(--mainBg);

    &__account {
        display: flex;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
        }

        &-avatar {
            max-height: 66px;
        }

        &-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 26px;
        }

        &-logout {
            font-size: 12px;
            cursor: pointer;
        }
    }

    &__menu {
        display: flex;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 10px;
            cursor: pointer;
            box-shadow: inset 0px -1px 0 0px var(--primary);
            transition: box-shadow 0.2s;

            &_active,
            &:hover {
                box-shadow: inset 0px -4px 0 0px var(--primary);
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        font-size: 40px;
    }
}

.main-logo {
    font-family: 'marspolice', 'Roboto';
    display: flex;
    align-items: center;
    width: 100%;

    &-text {
        flex: 1;
        border-bottom: 4px solid var(--textColorWhite);
        margin-bottom: 4px;

        &_left {
            color: var(--red);
            padding-right: 5px;
        }

        &_right {
            color: var(--blue);
            padding-left: 5px;
            text-align: right;
        }
    }
}

.reports {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__title {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &__list {
        flex: 1;
        overflow-y: auto;
    }

    &__item {
        padding: 10px;
        background-color: var(--mainBg);
        box-shadow: inset 0 0 0 1px var(--mainBorder);
        transition: box-shadow 0.15s;
        cursor: pointer;

        &:hover:not(&_active) {
            box-shadow: inset 0 0 0 1px var(--primary);
        }

        & + & {
            margin-top: 10px;
        }

        &_active {
            box-shadow: inset 0 0 0 2px var(--primary);
        }

        &-name {
            color: var(--textColorWhite);
        }

        &-league {
        }

        &-value {
        }
    }

    &__new-report-button {
        width: 100%;
        margin-top: 20px;
    }
}

.create-report {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 20px;
    }

    &__name {
        display: flex;

        &-input {
            width: 100%;
            padding: 8px 0;
            padding-top: 0;
            font-size: 20px;
            border: none;
            background: transparent;
            color: #fff;
            border-bottom: 2px solid var(--primary);
        }

        &-generate {
            margin-left: 10px;
            white-space: nowrap;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        overflow-y: auto;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    &__tabs {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;

        &-list {
            flex: 1;
            overflow-y: auto;
        }

        &-title {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            font-size: 20px;
            min-height: 39px;
        }
    }

    &__tab {
        display: flex;
        align-items: center;
        cursor: pointer;

        &-checkbox {
            position: relative;
            top: -1px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            border: 2px solid var(--primary);

            &:after {
                content: '';
                width: 6px;
                height: 6px;
                background-color: #fff8e1;
                transform: scale(0.5);
                opacity: 0;
                transition: all 0.2s;
            }

            &_active:after {
                opacity: 1;
                transform: scale(1);
            }
        }

        &-info {
            flex: 1;
            padding: 4px 8px;
        }

        & + & {
            border-top: 1px solid var(--mainBg);
        }
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;

        &-text {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    &__button-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex: 1;
        overflow-y: auto;
    }

    &__button {
        width: 100%;
        flex-shrink: 0;

        & + & {
            margin-top: 10px;
        }
    }

    &__create-button {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;

        &-warning {
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 2px;
            color: var(--red);
            font-size: 10px;
            white-space: nowrap;
        }
    }
}

.leagues {
    margin: 20px 0px;

    &__title {

    }

    &__list {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 50px;
    }

    &__item {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 4px 8px;
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
        color: #fff;

        &_hc {
            background-color: var(--red);
        }

        &_sc {
            background-color: var(--blue);
        }

        & + & {
        }
    }

    &__clear-league {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-top: 10px;
        background-color: var(--red);
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        cursor: pointer;
    }
}

.checkouts {
    &__container {
    }
    
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin: 10px 0;
        padding-bottom: 10px;
        min-height: 95px;
        overflow-x: auto;
    }

    &__list-item {
        flex: 0 0 auto;
        padding: 10px;
        background-color: var(--mainBg);
        box-shadow: inset 0 0 0 1px var(--textColorGolden);
        transition: box-shadow 0.15s;
        z-index: 1;
        cursor: pointer;

        &:hover:not(&_active) {
            box-shadow: inset 0 0 0 1px var(--primary);
        }

        &_active {
            box-shadow: inset 0 0 0 2px var(--primary);
        }

        &-title {
            color: var(--textColorWhite);
            font-weight: 600;
        }

        &-date {

        }

        &-value {

        }
    }

    &__list-item-separator {
        flex: 0 0 auto;
        height: 2px;
        width: 40px;
        background-color: var(--textColorGolden);
    }
} 

.report {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 20px;
    }

    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #ffffff;

        &-prefix {
            color: var(--textColor);
        }
    }

    &__controls {
        display: flex;
        align-items: stretch;

        &-button {
            & + & {
                margin-left: 10px;
            }
        }
    }

    &__item {
        &-cell {
            display: flex;
            align-items: center;
        }

        &-image {
            flex: 0 0 auto;
            width: 37px;
            height: 37px;
            margin-right: 5px;
        }

        &-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.report-items {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        min-height: 30px;
    }

    &__title {
        display: flex;
        align-items: center;

        &-text {
            color: var(--textColorWhite);
        }

        &-date {

        }
    }

    &__table {
        margin-top: 10px;
    }
}

.delete-button {
    position: relative;
    width: 100px;
    min-height: 20px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.2s;

    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        white-space: nowrap;
        border: 2px solid #7d7d7d;
    }

    &__text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: left 0.15s;
    }
}

.numeric-value {
    font-family: 'Roboto Mono', monospace;
}

.currency-value {
    color: var(--primary);
}

.league-name {
    &_hc {
        color: var(--red);
    }

    &_sc {
        color: var(--blue);
    }
}

.ReactTable {
    border: none;

    .rt-thead {
        .rt-th {
            transition: box-shadow 0.3s;

            &.-sort-asc {
                box-shadow: inset 0 3px 0 0 var(--primary);
            }

            &.-sort-desc {
                box-shadow: inset 0 -3px 0 0 var(--primary);
            }
        }
    }
}

.dev-menu {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%);
    background-color: var(--primary);
    color: #fff;
}

.gear-loader {
    display: flex;
    fill: var(--textColorWhite);

    &__item {
        animation: animation-gear-spin 4s linear infinite;

        & + & {
            margin-left: -15px;
            animation: animation-gear-spin-back 4s linear infinite;

            & svg {
                transform: rotate(30deg);
            }
        }

        & svg {
            display: block;
        }
    }
}

@keyframes animation-gear-spin { 100% { transform:rotate(360deg); } }
@keyframes animation-gear-spin-back { 100% { transform:rotate(-360deg); } }
